.hidden-if-nojs { /* class retirée au chargement du js */
	display: none;
}
/* class ajoutée sur les modales au chargement via js */
.modal-is-closed {
	display: none;
}
.modal {
	/* si modale affichée sans js, la mettre en valeur */
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
	background-clip: padding-box;
	padding: 2em; 
}
/* on étend la boîte générale de la modale ouverte 
sur tout l'écran avec un fond grisé */
.modal-overlay {
	overflow: auto;
	overflow-y: scroll;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	height: 100%;
	width: 100%;
	text-align: center;
	background: rgba(0, 0, 0, 0.75);
}
/* position et présentation de la boîte intérieure */
.modal-is-open {
	position: relative;
	top: 3em;
	display: inline-block;
	max-width: 85%;
	outline: none;
	text-align: left;
	opacity: 1;
}
/* positionnement et présentation du bouton de fermeture */
.modal-closer {
	position: absolute;
	top: .25em;
	right: .25em;
	border: none; 
	font-weight: bold;
	font-size: 1.5em;
}
.modal-title {
	margin-right: 2em; /* pour laisser la place au closer */
}

/* ----------- Règles uniquement pour faire joli sur la démo */
button {
	border: none;
	margin: 0;
	padding: .25em 1em .5em;
    box-shadow: 2px 2px .5em rgba(0,0,0,0.2); 
	background: #008080;
	color: #fff;
}
button.cancel {
	margin-right: .5em;
	background-color: #ddd;
	color: #000;
}
button:hover,
button:focus {
	background-color: #ef017c;
	color: #fff;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0
}
.modal-title {
	font-weight: bold;
	margin-bottom: 2em;
	padding-bottom: .25em;
	border-bottom: 1px solid #ef017c;
}
.modal-closer {
	height: 1.75em;
	width: 1.75em;
	padding: 0; 
	line-height: 1;
	border-radius: 50%;
	box-shadow: none;
}
#login-trigger {
	position: absolute;
	top: 0;	
	right: 1em;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
}
.buttons-line {
	text-align: right;
}