@charset "UTF-8";
/* MOBILE FIRST */
/* --- base --- */
html, 
body {
	margin: 0;
	padding: 0;
	font-family: arial, sans-serif;
	font-size: .875em;
	line-height: 1.5;
	color: #333;
	background: #fff;
	}
div, form, fieldset {
	margin: 0;
	padding: 0;
	border: none;
	}
p {
	margin: 1em 0 .5em 0;
	}
img a {
	border: none;
	}
sup, sub {
	font-size: .7em;
	line-height: .7em;
	}
abbr, acronym {
	border-bottom: 1px dotted;
	cursor: help;
	}
blockquote, q {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	}
blockquote em, q em {
	font-style: normal;
	}
cite {
	font-size: .875em;
	}
ul, ol, dd {
	margin: 1em 0 .5em 1em;
	padding-left: 1em;
	}
ul ul, ol ol {
	margin-top: .5em;
	}
ul ul {
	list-style-type: square;
	}
code, pre, kbd {
	font-family: "Andale mono","Courier New", Courier, mono;
	background: #f0f0f5;
	}
kbd {
	background: #fff5e6;
	border: 1px solid #ffcb80;
	padding: 0 2px;
	}
pre {
	margin: 1em;
	overflow: auto;
	padding: 1px 8px;
	line-height: 1.2;
	}
hr {
	height: 1px;
	border: 0;
	border-top: 1px dashed #999;
	width: 50%;
	height: 1px;
	}
input, button, select {
	vertical-align: middle;
	}
em, i {
	font-style: italic;
	}
strong, b {
	font-weight: bold;
	}

body {
	padding: 1em 2%;
	}
/* --- typographie --- */
h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	font-weight: normal;
	}
h2, h3 {
	color: #008080;
	}
h3, h4, h5 {
	}
h1 {
	font-size: 1em;
	margin-top: 0;
	text-transform: uppercase;
	}
h2 {
	font-size: 2em;
	margin: 0 0 1em 0;
	text-align: center;
	}
h3 {
	font-size: 1.33em;
	margin: 1.5em 0 .5em 0;
	}
h4 {
	font-size: 1em;
	margin: 1em 0 .5em 0;
	color: #000;
	font-weight: bold;
	}
h5 {
	font-size: .875em;
	font-weight: bold;
	}
h6 {
	font-size: 1.5em;
	}
h4 {
	}
h4 + p {
	margin-top: 0;
	}
/* --- liens --- */
a {
	color: #666;
	}
a:hover, a:active, a:focus {
	background: #eee;
	color:#ef017c;
	text-decoration: none;
	position: relative;
	top: 1px;
	}
a img {
	text-decoration: none;
	background: #eee;
	}
/* --- page --- */
#page {
	background: #fff;
	padding: 0 1%;
	margin: 0 auto;
	}
/* header */
header {
	margin-top: 1em;
	text-align: center;
	}
/* main */
form {
	border: 1px solid #008080;
	padding: .5em 1em;
}
form p {
	display: inline-block;
	vertical-align: baseline;
	margin-right: 1em;
}
input[type="text"]:focus {
	border: 2px solid #008080; 
}
button {
	background-color: #444;
	padding: .25em;
	color: #fff;
}
button:hover, button:focus {
	cursor: pointer;
}
.focus {
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-shadow: 1px 1px 1px 0 rgba(50, 50, 50, 0.3);
    margin: 2em 0;
    padding: 0.5em 1em;
}
/* footer */
footer {
    border-top: 1px double #999;
    font-size: 0.925em;
    margin-top: 2em;
    padding-top: 1em;
}
/* tablette et desktop */
@media screen and (min-width: 30em) {
	html, body {
		font-size: 100.1%;
	}
	ul, ol, dd {
		margin: 1em 0 .5em 2em;
	}
	h1 {
		font-size: 1em;
	}
	#page {
		max-width: 46em;
		padding: 0 3% 1em;
	}
	header {
		margin-top: 2.5em;
	}
	h2 {
		margin-bottom: 3em;
	}
	form, button {
		font-size: 100%;
	}
}

/* 
	pour l'accessibilité il est préférable d'utiliser conjointement
	aria-hidden="true" et display:none  
*/
[aria-hidden="true"] {
	display: none;
}

/*** pour les démos on intègre les css de collapse ***/
.expander {
	margin-bottom: 0;
	padding-bottom: 0;
}
.to_expand {
	padding-top: .25em;
	padding-bottom: 2em;
}
.collapse-trigger {
	width: 100%;
	text-align: left;
	border: none;
	background-color: #ddd;
	color: #008080;
	margin: 0;
	padding: .25em .5em; 
	box-shadow: none;
}
.collapse-trigger:hover,
.collapse-trigger:focus {
	background-color: #ddd;
	color: #008080;
}
.collapse-trigger:after {
	float: right;
	content: "+";
	text-align: center;
	font-size: 1.5em;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	line-height: 1;
}
.collapse-trigger[aria-expanded="true"]:after {
	content: "–";
}
.collapse-trigger:hover:after,
.collapse-trigger:focus:after {
	background-color: #ef017c;
	color: #fff;
}